[Desktop Entry]
Version=1.0
Type=Application
Name=MITOSIS
Comment=Create an OS reflash USB drive
Exec=/usr/local/bin/commec-mitosis
Icon=/usr/share/commec/icons/mitosis.svg
Terminal=false
Categories=System;
